[mysqld]
skip-host-cache
skip-name-resolve
lower-case-table-names
back-log=1000
interactive-timeout=7200
max-connections=1000
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
transaction-isolation=READ-COMMITTED
default-authentication-plugin=mysql_native_password
sql-mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
